.guineaPigColor {
	color: blue;
}
.guineaPigSize {
	font-size: 3em;
}
.guineaPigBorder {
	border: solid 5px black;
}
.guineaPigRound {
	border-radius: 2em;
}

.article-section:first-of-type {
	font-weight: bold;
}
.article-section:last-of-type {
	font-style: italic;
}
button {
	display: block;
}